html {
    background-color: aquamarine;
    text-align: center;
}

h1 {
    font-family: 'Courier new';
    color: hsl(323, 100%, 50%);
    background-color: #008080;
    border: outset #008080 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #03000098;
    
}

form {
    font-family: Arial;
    text-decoration: underline;
    color: black
}

h2 {
    font-family: 'Courier new';
    text-decoration: underline;
}

p {
    font-family: 'Times New Roman';
    background-color: #721aad;
    border: inset #8b0dde 5px;
    border-radius: 5px;
    width: 50%;
    margin: 0 auto;
    box-shadow: 5px 5px 5px #010000e8;
}