html {
    background-color: aquamarine;
    text-align: center;
}

h1 {
    font-family: 'Courier new';
    text-align: center;
    color: hsl(323, 100%, 50%, 0.896);
    border: solid rgba(142, 23, 181, 0.789) 5px;
    border-radius: 5px;
}

form {
    font-family: Arial;
    text-decoration: underline;
    color: black
}

h2 {
    font-family: 'Courier new';
    text-decoration: underline;
}