<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generator</title>
</head>
<body>
    <h1>Welcome to the Password generator</h1>
    <form action="/generator">
        <input type="number" name="length" placeholder="Password length" required>
        <input type="text" name="letters" placeholder="Create a word" required>
        <input type="number" name="digits" placeholder="Number of digits" required>
        <input type="number" name="specials" placeholder="Number of special characters" required>
        <button type="submit">Generate Password</button>
    </form>
</body>
</html>